<!DOCTYPE html>
<html>
<head>
    <title>노운호의 기묘한 여행</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class = "title">
        <a style="color:red">노</a>
        <a style="color:orange">운</a>
        <a style="color:yellow">호</a>
        <a style="color:green">의</a>
        <a style="color:blue">기묘한</a>
        <a style="color:violet">여행</a>
    </div>
    {% block content %}
    {% endblock %}
    
</body>
</html>